.page-button {
  margin: 0 10px;
  padding: 10px;
  background-color: transparent;
  border-radius: 5px;
  font-weight: bold;
}
.page-button:hover {
  background-color: rgb(189, 134, 241);
  color: #fff;
}
.page-button:active {
  background-color: rgb(118, 5, 116);
  color: #fff;
}
.pagination-page {
  margin-left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3%;
}
